## Простые типы данных

In [1]:
my_integer = 10
type(my_integer)

int

In [2]:
my_float = 5.5
type(my_float)

float

In [3]:
my_string = 'Hello World!'
my_string_2 = "Hello World"
type(my_string_2)

str

In [4]:
my_bool = True
# my_bool = False
type(my_bool)

bool

In [5]:
x = 5
y = 1
print(type(x > y))

<class 'bool'>

In [6]:
# преобразование типов
salary = 1000
print('Ваша годовая зарплата составляет ', salary, ' условных единиц')

Ваша годовая зарплата составляет  1000  условных единиц

In [7]:
print('Ваша годовая зарплата составляет ' + str(salary) + ' условных единиц')

Ваша годовая зарплата составляет 1000 условных единиц

In [34]:
# неявное преобразование типов
print(1 + True)
# print (20 / 5.1)

2

### Строки

In [14]:
my_string.upper()

'HELLO WORLD!'

In [15]:
my_string.lower()

'hello world!'

In [16]:
my_string.capitalize()

'Hello world!'

In [17]:
my_string.replace('Hello', 'Goodbye')

'Goodbye World!'

In [18]:
len(my_string)

12

In [19]:
# индексация и срезы
my_string = 'Hello World'

In [20]:
my_string[2]

'l'

In [21]:
my_string[-4]

'o'

In [22]:
my_string[0:5]

'Hello'

In [23]:
my_string = 'Hello World'
my_string[0:8:2]

'HloW'

In [24]:
my_string[6:]

'World'

In [25]:
my_string[:5]

'Hello'

In [26]:
my_string[:2:-5]
# my_string[2:5]

'd '

### Упражнение
Выделите номер часа из даты следующего формата

In [31]:
date = '2019-08-27T23:59:00.932'

In [32]:
date [11:13]

'23'

In [33]:
# проверка на вхождение элемента в объект при помощи in (есть обратная операция not in)
my_string = 'Hello World'
target_string = 'World'
if target_string in my_string:
    print('find!')

find!

In [37]:
# f-строки
x = 5
name = 'oleg'
t = f"Hello, {x+1548*6}"
print(t)
#print(type(t))

Hello, 9293

## Списки

In [39]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [42]:
print(type(month_list))
print(type(income_list))
print(type(income_by_months))

<class 'list'>
<class 'list'>
<class 'list'>

In [43]:
# индексация элементов в списке
print(month_list[0])
print(month_list[-1])
print(income_by_months[-4])

Jan
Sep
['Jun', 13000]

In [44]:
# срезы
print(income_by_months[0:2])
print('--------------')
print(income_by_months[-8:-6])
print('--------------')
print(income_by_months[2:])
print('--------------')
print(income_by_months[:3])

[['Jan', 13000], ['Feb', 14000]]
--------------
[['Feb', 14000], ['Mar', 14300]]
--------------
[['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
--------------
[['Jan', 13000], ['Feb', 14000], ['Mar', 14300]]

In [45]:
# можно обращаться к любому уровню вложенности
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
income_by_months[0][0]

'Jan'

In [46]:
# изменение списков
income_by_months[0][1] = 13100
print(income_by_months)

[['Jan', 13100], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [47]:
income_by_months[0:2] = [['Jan', 13200], ['Feb', 13900]]
print(income_by_months)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [48]:
income_by_months_2 = [['Nov', 15400], ['Dec', 17000]]
income_by_month = income_by_months + income_by_months_2
print(income_by_month)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300], ['Nov', 15400], ['Dec', 17000]]

In [49]:
# сумма элементов
sum(income_list)

128500

In [50]:
# сортировка по возрастанию
sorted(income_list)

[13000, 13000, 13800, 14000, 14300, 14900, 15000, 15200, 15300]

In [51]:
# изменить порядок сортировки
sorted(income_list, reverse= True)

[15300, 15200, 15000, 14900, 14300, 14000, 13800, 13000, 13000]

In [52]:
# а это сортировка строк по алфавиту
sorted(month_list)

['Apr', 'Aug', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Sep']

### Распаковка списков

In [57]:
first, second, third = [1, 'второй', 'третий']
third

'третий'

In [59]:
# когда число элементов неизвестно
first, *other = ['первый', 'второй', 'третий']
other

['второй', 'третий']

In [60]:
first, *other, last =  ['первый', 'второй', 'третий', 'четвертый']

### Операции со списками

In [63]:
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Sep', 15300]]

In [64]:
# Удаляем элемент по индексу
del(income_by_months[-1])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200]]

In [66]:
# удаляем элемент по значению
month_list.append('Sep')
month_list.remove('Sep')
print(month_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']

In [67]:
# добавляем элемент в конец списка
income_by_months.append(['Dec', 17000])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Dec', 17000]]

In [79]:
# добавляем элемент по нужному индексу
#income_list

income_list
income_list.insert(2, 1111111)

In [80]:
# считаем количество вхождений элемента в список
income_list.count(13000)

2

In [82]:
# узнаем индекс элемента в списка (только первое вхождение!)
income_list.index(13000, 3)

13

In [75]:
income_list.count(13000)*13000

26000

In [83]:
# разворачиваем список
month_list.reverse()
month_list

['Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

In [84]:
# узнаем длину списка
len(income_list)

17

### Изменение списков

В примере ниже переменная a и b на самом деле указывают на один и тот же объект. В результате, при добавлении в b очередного элемента этот элемент добавляется и в исходном листе a

In [86]:
a = [1, 2, 3]
b = a

In [87]:
b.append(4)
f'a = {a}'

'a = [1, 2, 3, 4]'

In [88]:
id(a), id(b)

(2492786304904, 2492786304904)

Используем модуль copy

In [89]:
import copy

In [90]:
a = [1, 2, 3]
b = copy.copy(a)

In [91]:
id(a), id(b)

(2492786140296, 2492786924168)

In [92]:
b.append(4)
print('a = {}'.format(a))

print('b = {}'.format(b))

a = [1, 2, 3]
b = [1, 2, 3, 4]

# List comprehension

In [93]:
# Дана последовательность чисел. Мы хотим оставить только те, что делятся на 5
sequence = range(0, 40, 3)
sequence

range(0, 40, 3)

In [94]:
list(sequence)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [ ]:
# решение в лоб
for num in sequence:
    if num % 5 == 0:
        print( num )

In [ ]:
# если хотим получить отфильтрованный лист, то будет даже так
filtered_sequence = []

for num in sequence:
    if num % 5 == 0:
        filtered_sequence.append(num)

print(filtered_sequence )

In [ ]:
[num for num in sequence if num % 5 == 0]

In [ ]:
[w for w in sequence if w % 5 == 0]

In [ ]:
# с list comprehension получается покороче

print([x**2 for x in sequence if x % 5 == 0 ])

Пример вычисления метрики из набора списков. Столбцы в каждой строке:
- дата
- номер счетчика
- количество визитов

In [ ]:
api_response = [
    ['2017-12-26', '777', 184],
    ['2017-12-27', '111', 146],
    ['2017-12-28', '777', 98],
    ['2017-12-29', '777', 206],
    ['2017-12-30', '111', 254],
    ['2017-12-31', '777', 89],
    ['2018-01-01', '111', 54],
    ['2018-01-02', '777', 68],
    ['2018-01-03', '777', 74],
    ['2018-01-04', '111', 89],
    ['2018-01-05', '777', 104],
    ['2018-01-06', '777', 99],
    ['2018-01-07', '777', 145],
    ['2018-01-08', '111', 184],
]

In [ ]:
sum([x[2] for x in api_response])

### Упражнение

Имеется поток данных о ценах товаров (считайте, что цена всегда больше 0). Необходимо написать алгоритм определения минимального четного числа в этом потоке.

In [95]:
# sys_stdin сейчас просто название переменной
sys_stdin = [78, 68, 484, 3, 254, 90, 143, 78, 43, 42, 3053, 473, 5, 8593, 16, 3, 1454, 37, 96, 8547]

In [ ]:

if i % 2 == 0:
    ...

In [97]:
min ([x for x in sys_stdin if not x % 2])

16

## Списки и строки

In [99]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [103]:
# преобразование строки в список (например, из CSV-файла)
queries_string.split(',')

['смотреть сериалы онлайн',
 'новости спорта',
 'афиша кино',
 'курс доллара',
 'сериалы этим летом',
 'курс по питону',
 'сериалы про спорт']

In [104]:
# Преобразование списка в строку

','.join(['Столбец 1', 'Столбец 2', 'Столбец 3'])

'Столбец 1,Столбец 2,Столбец 3'

In [105]:
# проверка вхождения элемента в список:

# 'Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']
'Москва' not in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']

False

## Tuple (кортежы)

In [107]:
salary_tuple = (1000, 1200, 1300, 900, 800)
type(salary_tuple)
#type(list(salary_tuple))

tuple

In [108]:
# print(salary_tuple[0])
salary_tuple[0] = 500

TypeError: 'tuple' object does not support item assignment

In [111]:
# кортеж из одного элемента задается так:
t = ('one', )
t

('one',)

In [110]:
# без запятой получится строка
type( ('one') )

str

In [113]:
# функция zip
salaries = ([1000, 1200, 1300, 900, 800, 1000])
names = (['Robert', 'Jane', 'Liza', 'Richard', 'John'])
salaries_by_names = zip (names, salaries)
#print(salaries_by_names)
print(list(salaries_by_names))

[('Robert', 1000), ('Jane', 1200), ('Liza', 1300), ('Richard', 900), ('John', 800)]

In [ ]:
salaries=ytn [1000, 1200, 1300, 900, 800, 1000]
salaries_list=

In [ ]:
list = [[0,1],[2,3],[1,3]]
# print(set(list))

## Циклы

### Цикл while

In [1]:
x = 5
while x != 0:
#     x = x / 1
    x -= 1
    print(x)

4
3
2
1
0

In [2]:
x = 7
while x != 0:
    if x % 2 == 0:
        print(x, '- четное число')
    else:
        print(x, '- нечетное число')
    x = x - 1

7 - нечетное число
6 - четное число
5 - нечетное число
4 - четное число
3 - нечетное число
2 - четное число
1 - нечетное число

### Цикл for

In [3]:
# итерация по строкам
letter = 'sdgf'
company_name = 'Orange'
for letter in company_name:
    print(letter)
#     letter = letter.capitalize()
#     print(letter)
print(letter)

O
r
a
n
g
e
e

In [5]:
# итерация по строкам
company_name = 'Orange'
for letter in company_name:
    letter = letter.capitalize ()
    
    print(letter)
#     letter = letter.capitalize()
#     print(letter)

O
R
A
N
G
E

In [7]:
# итерация по спискам
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]
for company in companies_capitalization:
    print(company)
    #print(company[0], 'capitalization is', company[1])
    #print('end of iteration')

['Orange', 1.3]
['Maxisoft', 1.5]
['Headbook', 0.8]
['Nicola', 2.2]

In [10]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]

In [ ]:
#for country in countries_temperature:
#     print(country)
    #cel_temp = (sum(country[1]) / len(country[1]) - 32) * 5 / 9
    #print(f'{country[0]} - {round(cel_temp, 2)}')

In [21]:
for country in countries_temperature:
    average_temp = 0
    print ('Внешний цикл со списком, где страна и температуры', country)
    for temperature in country[1]:
        print ('Температура', temperature)
        average_temp += (temperature - 32) * 5 / 9
    print('РЕЗУЛЬТАТ: средняя температура в', country [0], 'равна' , round(average_temp/len(country[1]), 2))

Внешний цикл со списком, где страна и температуры ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]]
Температура 75.2
Температура 77
Температура 78.8
Температура 73.4
Температура 68
Температура 75.2
Температура 77
РЕЗУЛЬТАТ: средняя температура в Thailand равна 23.86
Внешний цикл со списком, где страна и температуры ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]]
Температура 57.2
Температура 55.4
Температура 59
Температура 59
Температура 53.6
Температура 55.4
Температура 57.2
РЕЗУЛЬТАТ: средняя температура в Germany равна 13.71
Внешний цикл со списком, где страна и температуры ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]]
Температура 35.6
Температура 37.4
Температура 39.2
Температура 41
Температура 42.8
Температура 39.2
Температура 35.6
РЕЗУЛЬТАТ: средняя температура в Russia равна 3.71
Внешний цикл со списком, где страна и температуры ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]]
Температура 50
Температура 50
Температура 53.6
Температура 57.2
Температура 55.4
Температура 55.4
Температура 51.8
РЕЗУЛЬТАТ: средняя температура в Poland равна 11.86

In [ ]:
# итерация по словарям
# так бы было без цикла
salaries = {
    'John': 1200,
    'Mary': 500,
    'Steven': 1000,
    'Liza': 1500
}
print("John's salary:", salaries['John'])
print("Mary's salary:", salaries['John'])
print("Steven's salary:", salaries['John'])
print("Liza's salary:", salaries['John'])

In [ ]:
# используем цикл
for person, salary in salaries.items():
#     print(person, salary)
    print(person, "'s salary: ", salary, sep='')

In [ ]:
# добавим уровень з/п
for person in salaries:
    print(person)
#     status = ''
    if salaries[person] > 1000:
        status = 'above average'
    else:
        status = 'below average'
#     print(person, "'s salary: ", salaries[person], ' (', status, ')', sep='')
    print(f"{person}'s salary: {salaries[person]} ({status})")

In [ ]:
# добавим нумерацию
for index, person in enumerate(salaries):
    status = ''
    if salaries[person] > 1000:
        status = 'above average'
    else:
        status = 'below average'
    print(index , '. ', person, "'s salary: ", salaries[person], ' (', status, ')', sep='')

## break, pass, continue

In [25]:
phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [30]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter, end='')

640Кб

In [29]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter, end = ' ' )
print('finish loop')

6 4 0 К б д о л ж н о х в а т и т ь д л я л ю б ы х з а д а ч . Б и л л Г е й т с ( п о л е г е н д е ) finish loop

In [31]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter)
#print('finish loop')

6
4
0
К
б

д
о
л
ж
н
о

х
в
а
т
и
т
ь

д
л
я

л
ю
б
ы
х

з
а
д
а
ч
.

Б
и
л
л

Г
е
й
т
с

(
п
о

л
е
г
е
н
д
е
)

### Функция range

In [ ]:
# range(10)
type(range(10))

In [ ]:
list(range(10))

In [ ]:
for i in range(10):
    print(i)

In [ ]:
# с указанием левой и правой границы
for i in range(3, 20):
    print(i)

In [ ]:
# третий аргумент - шаг
for i in range(3, 20, 5):
    print(i)

## Множества (set)
Набор неповторяющихся элементов в случайном порядке

In [ ]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [ ]:
# логическое ИЛИ – что нужно знать data-scientst, который по совместительству data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills)

In [ ]:
# логическое И – что нужно знать и data-scientst и data-engineer
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills)

In [ ]:
# разность множеств – что знает data-scientist, но не знает data-engineer (и наоборот)
print(data_scientist_skills.difference(data_engineer_skills))
print(data_scientist_skills - data_engineer_skills)
print(data_engineer_skills.difference(data_scientist_skills))
print(data_engineer_skills - data_scientist_skills)

In [ ]:
# симметричная разность множеств – что такого знают data-scientist и data-engineer, чего не знают они оба
print(data_scientist_skills.symmetric_difference(data_engineer_skills))
print(data_scientist_skills ^ data_engineer_skills)
print(data_engineer_skills.symmetric_difference(data_scientist_skills))
print(data_engineer_skills ^ data_scientist_skills)

## Словари

In [ ]:
staff_salary = {'Robert': 800, 
                'Jane': 2000, 
                'Liza': 1300, 
                'Richard': 800, 
                'Tom': 1100, 
                'Bob': 1300}

In [ ]:
# обращение к элементу словаря
staff_salary['Jane']

In [ ]:
# добавляем элемент в словарь
staff_salary['Bob'] = 2000
staff_salary

In [ ]:
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [ ]:
staff_dict['Robert']['bonus']

In [ ]:
# удаляем элемент из словаря
del(staff_salary['Liza'])
staff_salary

In [ ]:
staff_dict['Oleg']

In [ ]:
# безопасно получаем значение по ключу
staff_dict.get('dfhdfh', 'Not Found')
# staff_dict.get('Robert', 'Not Found')

In [ ]:
# получаем только ключи/значения из словаря (очень пригодиться в циклах)
print(staff_salary.keys())
print(staff_salary.values())
print(staff_salary.items())

print(list(staff_salary.keys()))
print(list(staff_salary.values()))
print(list(staff_salary.items()))

In [ ]:
for key in staff_dict.keys():
    print(key)

In [ ]:
for value in staff_dict.values():
    print(value)

In [ ]:
for key, value in staff_dict.items():
    print(key, value)

In [ ]:
# проверка на наличие ключа в словаре
recruit = 'Amanda'

if recruit in staff_dict:
    print('Значение для ключа уже существует')
else:
    print('Добавляю новый ключ')
    staff_dict[recruit] = {'salary': 1500, 'bonus': 100}

print(staff_dict)

In [ ]:
# Можно использовать метод setdefault
# setdefault не изменяет значение, если ключ уже был в словаре

staff_dict.setdefault('Amanda', {'salary': 1300, 'bonus': 500})
staff_dict.setdefault('Paul', {'salary': 1300, 'bonus': 500})

In [ ]:
# функция zip
categories = ['Еда', 'Авто', 'Политика']
audience = [100, 200, 300]

categories_dict = dict(zip(categories, audience))
print(categories_dict)

### Практика

In [ ]:
cook_book = {
  'салат': [
     {'ingridient_name': 'сыр', 'quantity': 50, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'огурцы', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'маслины', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'оливковое масло', 'quantity': 20, 'measure': 'мл'},
     {'ingridient_name': 'салат', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'перец', 'quantity': 20, 'measure': 'гр'}
    ],
  'пицца': [
     {'ingridient_name': 'сыр', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'колбаса', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'бекон', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'оливки', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'тесто', 'quantity': 100, 'measure': 'гр'},   
    ],
  'лимонад': [
     {'ingridient_name': 'лимон', 'quantity': 1, 'measure': 'шт'},
     {'ingridient_name': 'вода', 'quantity': 200, 'measure': 'мл'},
     {'ingridient_name': 'сахар', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'лайм', 'quantity': 20, 'measure': 'гр'},    
    ]
}

In [ ]:
person_count = 3
shop_list = {}

for dish in cook_book:
#     print(dish)
    for ingridient in cook_book[dish]:
#         print(ingridient)
        new_shop_list_item = dict(ingridient)
        new_shop_list_item['quantity'] *= person_count
#         print(new_shop_list_item['ingridient_name'])
        if new_shop_list_item['ingridient_name'] not in shop_list:
            shop_list[new_shop_list_item['ingridient_name']] = new_shop_list_item
        else:
            shop_list[new_shop_list_item['ingridient_name']]['quantity'] += new_shop_list_item['quantity']

In [ ]:
for shop_list_item in shop_list.values():
    print(f'{shop_list_item["ingridient_name"]}, {shop_list_item["quantity"]}{shop_list_item["measure"]}')

In [ ]:
person_count = 3
shop_list = {}
for dish in cook_book:
    for ingridient in cook_book[dish]:
        new_shop_list_item = dict(ingridient)
        new_shop_list_item['quantity'] = ingridient['quantity'] * person_count
        if new_shop_list_item['ingridient_name'] not in shop_list:
            shop_list[new_shop_list_item['ingridient_name']] = new_shop_list_item
        else:
            shop_list[new_shop_list_item['ingridient_name']]['quantity'] += new_shop_list_item['quantity']
shop_list

In [ ]:
for shop_list_item in shop_list.values():
    print(f'{shop_list_item["ingridient_name"]}, {shop_list_item["quantity"]}{shop_list_item["measure"]}')